body
{
    overflow-x: hidden;
    background: black;
}


header img
{
    height: 400px;
    width: 100%;
    background: black
}

header nav 
{ 
    position:absolute;
    top: 407px;
    left: 7px;
    width: 1320px;
    border-width: 10px;   
    border-style: groove;    
    border-color:cornflowerblue;
    font-size: 30px;
    background: black;
}


header a
{
    color:white;
	text-decoration:none;
}


header a:hover
{
    transition: 0.5s color;
    color: red;
}

.charlie
{
    position: absolute;
    top: 600px;
}

.alan
{
    position: absolute;
    top: 1000px;
    left: 120px;
    color: white;
}

.um
{
    color: white;
    position: absolute;
    top: 500px;
    left: 140px;
}
.dois
{
    color: white;
    position: absolute;
    top: 900px;
    left: 145px;
}