body{
    background:url(imagens/background.Jpg);
     color: #868686;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    text-shadow: 1px 1px 0px #fff;   
    }

.center{
    margin: 0 auto;
    width: 1200px;
}
h1,h2{
    color: #fe9380;
    font-size: 60px;
    font-weight:800;
    letter-spacing: -3px;
    line-height: 60px;
    text-align: center;
}

h3{
   font-size: 32px; 
   font-weight: 300;
   letter-spacing: -2px;
   line-height: 38px;
}

p{
    font-weight: 300;
    letter-spacing: -1px;
}

a, a:link, a:visited{
    color: #fe9380;
    font-weight:400;
    text-decoration: none;
}
a:hover{
    color: #868686;
    text-decoration: underline;
    text-shadow: none;
}
header{
    border-bottom: 1px solid #E0E0E0;
    height: 350px;
    width: 1200px;
}

nav
{
    float: right;
    margin-top:78px;
    text-align:right;
    width: 490px;
    
}

nav ul
{
list-style-type:none;
}
nav li
{
display:inline;
}

nav ul li a
{
margin-right: 30px;
}

nav ul li:nth-child(5) a
{
margin-right:0px;
}

nav a:link, nav a:visited
{
color:#999;
font-size: 22px;
font-weight: 300;
letter-spacing:-2px;
line-height: 26px;
display:inline-block;
}

nav a.ativo:link, nav a:hover
{
color: #fe9380;
}

.chamada
{
height: 290px;
text-align: center;
width: 1200px;
}

h2 span
{
font-size: 60px;
font-weight: 300;
letter-spacing: -2px;
line-height: 60px;
}

.chamada h3
{
margin: 0 auto;
width: 900px;
}

.container
{
    background-color: #fe9481;
    height: 417px;
    padding: 30px;
    max-width: 1200px;
}

.desktop, .tablet, .mobile
{
float: left;
position: relative;
text-align: center;
width: 360px;
}
.mobile
{
background-color: #9c8cb9;
margin-right: 0px;
}

.desktop
{
background-color: #9c8cb9;
}

.tablet{
    background-color: #fcda92;
}

#desktop img, #tablet img, #mobile img
{
margin: 10px auto -15px auto;
text-align: center;
}




